body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  width: 40px;
}

.cell-red {
  background: tomato;
}

.cell-yellow {
  background: yellow;
}

.cell:focus {
  outline: none;
}

.kbd-navigation .cell:focus {
  background: #ddd;
}

.column {
  width: 40px;
  float: left;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

.header,
.next-player-title {
  text-align: center;
}

.next-player-title {
  margin-top: 10px;
}

.game-board {
  margin: 0 auto;
}
